## supports roach2 rev 1 (derived from roach2_rev1.ucf)
# VRN/VRP sharing

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net epb_clk_in TNM_NET = epb_clk_in;
TIMESPEC TS_epb_clk_in = PERIOD epb_clk_in 67 MHz;

Net C125_clk_n TNM_NET = C125_clk_n;
TIMESPEC TS_C125_clk_n = PERIOD C125_clk_n 125 MHz;

CONFIG DCI_CASCADE = "14 13";
CONFIG DCI_CASCADE = "23 22";
CONFIG DCI_CASCADE = "28 27";
CONFIG DCI_CASCADE = "32 33";
CONFIG DCI_CASCADE = "36 35 37 38";

CONFIG INTERNAL_VREF_BANK12=0.75;
CONFIG INTERNAL_VREF_BANK13=0.75;
CONFIG INTERNAL_VREF_BANK22=0.75;
CONFIG INTERNAL_VREF_BANK23=0.75;
## Global signals

# system clock (100 MHz)
NET "sys_clk_n"          LOC = AP12;
NET "sys_clk_p"          LOC = AP11;

# aux clock (?? MHz)
NET "aux_clk_n"          LOC = AW16;
NET "aux_clk_p"          LOC = AV16;

# correlator clock (125 MHz)
NET "C125_clk_n"          LOC = P31;
NET "C125_clk_p"          LOC = P30;



# aux sync in/out
#NET "aux_synci_n"        LOC = BB17;
#NET "aux_synci_p"        LOC = BB16;
#NET "aux_synco_n"        LOC = BA17;
#NET "aux_synco_p"        LOC = BA16;

#
## GPIOs
#
#NET "v6_gpio<0>"         LOC = G31    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<1>"         LOC = H31    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<2>"         LOC = AF32   | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<3>"         LOC = AG33   | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<4>"         LOC = L30    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<5>"         LOC = H30    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<6>"         LOC = M29    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<7>"         LOC = J30    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<8>"         LOC = M28    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<9>"         LOC = K30    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<10>"        LOC = N19    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<11>"        LOC = N20    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<12>"        LOC = H18    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<13>"        LOC = F16    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<14>"        LOC = E29    | IOSTANDARD = "LVCMOS15";
#NET "v6_gpio<15>"        LOC = M27    | IOSTANDARD = "LVCMOS15";
#
#NET "v6_irqn"            LOC = AY17;
NET "ppc_irq_n"            LOC = AY17; 
#
## PPC External Peripheral Bus (EPB) signals
#

## perclk 83.333 MHz
NET "epb_clk_in"         LOC = AY14;

NET "epb_cs_n"           LOC = N35;
NET "epb_oe_n"           LOC = AA31;
NET "epb_r_w_n"          LOC = V31;
NET "epb_be_n<0>"        LOC = Y30;
NET "epb_be_n<1>"        LOC = W31;
NET "epb_be_n<2>"        LOC = R32;
NET "epb_be_n<3>"        LOC = T32;
#NET "ppc_blast_n"        LOC = N34;
NET "epb_rdy"            LOC = L40;

# external ouput enable for the data bus
NET "epb_doe_n"          LOC = AF35  | IOSTANDARD = "LVCMOS15";

NET "epb_addr<5>"       LOC = AT14;
NET "epb_addr<6>"       LOC = AR14;
NET "epb_addr<7>"       LOC = AR15;
NET "epb_addr<8>"       LOC = AP15;
NET "epb_addr<9>"       LOC = AN13;
NET "epb_addr<10>"      LOC = AN14;
NET "epb_addr<11>"      LOC = AM12;
NET "epb_addr<12>"      LOC = AM13;
NET "epb_addr<13>"      LOC = AV14;
NET "epb_addr<14>"      LOC = AJ32;
NET "epb_addr<15>"      LOC = AJ31;
NET "epb_addr<16>"      LOC = AK30;
NET "epb_addr<17>"      LOC = AJ30;
NET "epb_addr<18>"      LOC = AK33;
NET "epb_addr<19>"      LOC = AH30;
NET "epb_addr<20>"      LOC = AH29;
NET "epb_addr<21>"      LOC = AG29;
NET "epb_addr<22>"      LOC = AD30;
NET "epb_addr<23>"      LOC = AC30;
NET "epb_addr<24>"      LOC = AY13;
NET "epb_addr<25>"      LOC = AV13;
NET "epb_addr<26>"      LOC = AD31;
NET "epb_addr<27>"      LOC = AB31;
NET "epb_addr<28>"      LOC = AC31;
NET "epb_addr<29>"      LOC = AA30;

NET "epb_data<0>"       LOC = AR13;
NET "epb_data<1>"       LOC = AP13;
NET "epb_data<2>"       LOC = AU14;
NET "epb_data<3>"       LOC = AV15;
NET "epb_data<4>"       LOC = AT12;
NET "epb_data<5>"       LOC = AR12;
NET "epb_data<6>"       LOC = BA14;
NET "epb_data<7>"       LOC = BA15;
NET "epb_data<8>"       LOC = AW13;
NET "epb_data<9>"       LOC = AW12;
NET "epb_data<10>"      LOC = BB14;
NET "epb_data<11>"      LOC = BB13;
NET "epb_data<12>"      LOC = AU13;
NET "epb_data<13>"      LOC = AU12;
NET "epb_data<14>"      LOC = AW15;
NET "epb_data<15>"      LOC = AY15;
NET "epb_data<16>"      LOC = P33;
NET "epb_data<17>"      LOC = N33;
NET "epb_data<18>"      LOC = AG31;
NET "epb_data<19>"      LOC = AH31;
NET "epb_data<20>"      LOC = R30;
NET "epb_data<21>"      LOC = T30;
NET "epb_data<22>"      LOC = AF31;
NET "epb_data<23>"      LOC = AG32;
NET "epb_data<24>"      LOC = U31;
NET "epb_data<25>"      LOC = T31;
NET "epb_data<26>"      LOC = AL32;
NET "epb_data<27>"      LOC = AK32;
NET "epb_data<28>"      LOC = R33;
NET "epb_data<29>"      LOC = P32;
NET "epb_data<30>"      LOC = AH33;
NET "epb_data<31>"      LOC = AJ33;




#
## QDRs
#

# QDR0


# QDR 1


# QDR 2


# QDR 3


## ADCs






#NET "adc0_clk_n<0>"     LOC = K42;
#NET "adc0_clk_n<1>"     LOC = P31;
#NET "adc0_clk_p<0>"     LOC = J42;
#NET "adc0_clk_p<1>"     LOC = P30;
#
#NET "adc0_dp_n<0>"      LOC = R27;
#NET "adc0_dp_n<1>"      LOC = N31;
#NET "adc0_dp_n<2>"      LOC = L36;
#NET "adc0_dp_n<3>"      LOC = K34;
#NET "adc0_dp_n<4>"      LOC = H35;
#NET "adc0_dp_n<5>"      LOC = G42;
#NET "adc0_dp_n<6>"      LOC = G36;
#NET "adc0_dp_n<7>"      LOC = C39;
#NET "adc0_dp_n<8>"      LOC = A39;
#NET "adc0_dp_n<9>"      LOC = B42;
#NET "adc0_dp_n<10>"     LOC = P28;
#NET "adc0_dp_n<11>"     LOC = L37;
#NET "adc0_dp_n<12>"     LOC = K32;
#NET "adc0_dp_n<13>"     LOC = K40;
#NET "adc0_dp_n<14>"     LOC = H41;
#NET "adc0_dp_n<15>"     LOC = G38;
#NET "adc0_dp_n<16>"     LOC = F42;
#NET "adc0_dp_n<17>"     LOC = C41;
#NET "adc0_dp_n<18>"     LOC = E38;
#NET "adc0_dp_n<19>"     LOC = A37;
#NET "adc0_dp_n<20>"     LOC = R29;
#NET "adc0_dp_n<21>"     LOC = M32;
#NET "adc0_dp_n<22>"     LOC = N30;
#NET "adc0_dp_n<23>"     LOC = M34;
#NET "adc0_dp_n<24>"     LOC = H34;
#NET "adc0_dp_n<25>"     LOC = G39;
#NET "adc0_dp_n<26>"     LOC = E37;
#NET "adc0_dp_n<27>"     LOC = D41;
#NET "adc0_dp_n<28>"     LOC = A41;
#NET "adc0_dp_n<29>"     LOC = L32;
#NET "adc0_dp_n<30>"     LOC = J36;
#NET "adc0_dp_n<31>"     LOC = J41;
#NET "adc0_dp_n<32>"     LOC = J38;
#NET "adc0_dp_n<33>"     LOC = H38;
#NET "adc0_dp_n<34>"     LOC = E40;
#NET "adc0_dp_n<35>"     LOC = F41;
#NET "adc0_dp_n<36>"     LOC = F36;
#NET "adc0_dp_n<37>"     LOC = C38;
#
#NET "adc0_dp_p<0>"      LOC = P27;
#NET "adc0_dp_p<1>"      LOC = M31;
#NET "adc0_dp_p<2>"      LOC = L35;
#NET "adc0_dp_p<3>"      LOC = K35;
#NET "adc0_dp_p<4>"      LOC = J35;
#NET "adc0_dp_p<5>"      LOC = G41;
#NET "adc0_dp_p<6>"      LOC = H36;
#NET "adc0_dp_p<7>"      LOC = B39;
#NET "adc0_dp_p<8>"      LOC = B38;
#NET "adc0_dp_p<9>"      LOC = B41;
#NET "adc0_dp_p<10>"     LOC = N28;
#NET "adc0_dp_p<11>"     LOC = K37;
#NET "adc0_dp_p<12>"     LOC = K33;
#NET "adc0_dp_p<13>"     LOC = K39;
#NET "adc0_dp_p<14>"     LOC = H40;
#NET "adc0_dp_p<15>"     LOC = G37;
#NET "adc0_dp_p<16>"     LOC = E42;
#NET "adc0_dp_p<17>"     LOC = C40;
#NET "adc0_dp_p<18>"     LOC = E39;
#NET "adc0_dp_p<19>"     LOC = B37;
#NET "adc0_dp_p<20>"     LOC = R28;
#NET "adc0_dp_p<21>"     LOC = M33;
#NET "adc0_dp_p<22>"     LOC = N29;
#NET "adc0_dp_p<23>"     LOC = L34;
#NET "adc0_dp_p<24>"     LOC = G34;
#NET "adc0_dp_p<25>"     LOC = F39;
#NET "adc0_dp_p<26>"     LOC = F37;
#NET "adc0_dp_p<27>"     LOC = D42;
#NET "adc0_dp_p<28>"     LOC = A40;
#NET "adc0_dp_p<29>"     LOC = L31;
#NET "adc0_dp_p<30>"     LOC = J37;
#NET "adc0_dp_p<31>"     LOC = J40;
#NET "adc0_dp_p<32>"     LOC = K38;
#NET "adc0_dp_p<33>"     LOC = H39;
#NET "adc0_dp_p<34>"     LOC = D40;
#NET "adc0_dp_p<35>"     LOC = F40;
#NET "adc0_dp_p<36>"     LOC = F35;
#NET "adc0_dp_p<37>"     LOC = D38;
#
## ADC1
#
#NET "adc1_clk_n<0>"     LOC = V30;
#NET "adc1_clk_n<1>"     LOC = AF30;
#NET "adc1_clk_p<0>"     LOC = W30;
#NET "adc1_clk_p<1>"     LOC = AE30;
#
#NET "adc1_dp_n<0>"      LOC = Y34;
#NET "adc1_dp_n<1>"      LOC = Y37;
#NET "adc1_dp_n<2>"      LOC = V35;
#NET "adc1_dp_n<3>"      LOC = U33;
#NET "adc1_dp_n<4>"      LOC = U41;
#NET "adc1_dp_n<5>"      LOC = T37;
#NET "adc1_dp_n<6>"      LOC = R34;
#NET "adc1_dp_n<7>"      LOC = P35;
#NET "adc1_dp_n<8>"      LOC = M42;
#NET "adc1_dp_n<9>"      LOC = L42;
#NET "adc1_dp_n<10>"     LOC = Y32;
#NET "adc1_dp_n<11>"     LOC = AA39;
#NET "adc1_dp_n<12>"     LOC = W33;
#NET "adc1_dp_n<13>"     LOC = W41;
#NET "adc1_dp_n<14>"     LOC = V39;
#NET "adc1_dp_n<15>"     LOC = T36;
#NET "adc1_dp_n<16>"     LOC = T42;
#NET "adc1_dp_n<17>"     LOC = P38;
#NET "adc1_dp_n<18>"     LOC = P37;
#NET "adc1_dp_n<19>"     LOC = N41;
#NET "adc1_dp_n<20>"     LOC = Y35;
#NET "adc1_dp_n<21>"     LOC = Y33;
#NET "adc1_dp_n<22>"     LOC = V36;
#NET "adc1_dp_n<23>"     LOC = W40;
#NET "adc1_dp_n<24>"     LOC = U38;
#NET "adc1_dp_n<25>"     LOC = R38;
#NET "adc1_dp_n<26>"     LOC = R42;
#NET "adc1_dp_n<27>"     LOC = P41;
#NET "adc1_dp_n<28>"     LOC = M39;
#NET "adc1_dp_n<29>"     LOC = AA37;
#NET "adc1_dp_n<30>"     LOC = Y42;
#NET "adc1_dp_n<31>"     LOC = Y39;
#NET "adc1_dp_n<32>"     LOC = W38;
#NET "adc1_dp_n<33>"     LOC = U34;
#NET "adc1_dp_n<34>"     LOC = T35;
#NET "adc1_dp_n<35>"     LOC = T40;
#NET "adc1_dp_n<36>"     LOC = M37;
#NET "adc1_dp_n<37>"     LOC = N39;
#
#NET "adc1_dp_p<0>"      LOC = AA34;
#NET "adc1_dp_p<1>"      LOC = W37;
#NET "adc1_dp_p<2>"      LOC = W35;
#NET "adc1_dp_p<3>"      LOC = U32;
#NET "adc1_dp_p<4>"      LOC = U42;
#NET "adc1_dp_p<5>"      LOC = R37;
#NET "adc1_dp_p<6>"      LOC = R35;
#NET "adc1_dp_p<7>"      LOC = P36;
#NET "adc1_dp_p<8>"      LOC = M41;
#NET "adc1_dp_p<9>"      LOC = L41;
#NET "adc1_dp_p<10>"     LOC = AA32;
#NET "adc1_dp_p<11>"     LOC = Y38;
#NET "adc1_dp_p<12>"     LOC = V33;
#NET "adc1_dp_p<13>"     LOC = V41;
#NET "adc1_dp_p<14>"     LOC = U39;
#NET "adc1_dp_p<15>"     LOC = U36;
#NET "adc1_dp_p<16>"     LOC = T41;
#NET "adc1_dp_p<17>"     LOC = R39;
#NET "adc1_dp_p<18>"     LOC = N36;
#NET "adc1_dp_p<19>"     LOC = N40;
#NET "adc1_dp_p<20>"     LOC = AA35;
#NET "adc1_dp_p<21>"     LOC = W32;
#NET "adc1_dp_p<22>"     LOC = W36;
#NET "adc1_dp_p<23>"     LOC = V40;
#NET "adc1_dp_p<24>"     LOC = U37;
#NET "adc1_dp_p<25>"     LOC = T39;
#NET "adc1_dp_p<26>"     LOC = P42;
#NET "adc1_dp_p<27>"     LOC = P40;
#NET "adc1_dp_p<28>"     LOC = M38;
#NET "adc1_dp_p<29>"     LOC = AA36;
#NET "adc1_dp_p<30>"     LOC = W42;
#NET "adc1_dp_p<31>"     LOC = Y40;
#NET "adc1_dp_p<32>"     LOC = V38;
#NET "adc1_dp_p<33>"     LOC = V34;
#NET "adc1_dp_p<34>"     LOC = T34;
#NET "adc1_dp_p<35>"     LOC = R40;
#NET "adc1_dp_p<36>"     LOC = M36;
#NET "adc1_dp_p<37>"     LOC = N38;


#### MGT external clocks
#
## XAUI reference clk (156.25 MHz)

NET xaui_clk TNM_NET = xaui_clk;
TIMESPEC TS_xaui_clk = PERIOD xaui_clk 156.25 MHz;

# XUAI Infrastructure Clocks
NET xaui_infrastructure_inst/xaui_infrastructure_inst/xaui_infrastructure_low_inst/gtx_refclk_bufr<*> TNM_NET = xaui_infra_clk;
TIMESPEC TS_xaui_infra_clk = PERIOD xaui_infra_clk 156.25 MHz;


NET "xaui_refclk_n<0>"   LOC = AT7;
NET "xaui_refclk_n<1>"   LOC = AD7;
NET "xaui_refclk_n<2>"   LOC = K7;
NET "xaui_refclk_p<0>"   LOC = AT8;
NET "xaui_refclk_p<1>"   LOC = AD8;
NET "xaui_refclk_p<2>"   LOC = K8;

# MGT Mezzanine Card Signals
# MGT Mezzanine card GPIO
NET "mgt_gpio<0>"        LOC = J16 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<1>"        LOC = H20 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<2>"        LOC = N18 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<3>"        LOC = B16 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<4>"        LOC = L29 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<5>"        LOC = K29 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<6>"        LOC = N15 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<7>"        LOC = P16 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<8>"        LOC = N16 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<9>"        LOC = P17 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<10>"       LOC = L15 | IOSTANDARD = "LVCMOS15";
NET "mgt_gpio<11>"       LOC = K19 | IOSTANDARD = "LVCMOS15";

## MGT Mezzanine card transceivers
#

NET "mgt_rx_n<0>"        LOC = AW6;
NET "mgt_rx_n<1>"        LOC = AY8;
NET "mgt_rx_n<2>"        LOC = BA6;
NET "mgt_rx_n<3>"        LOC = BB8;
#
NET "mgt_rx_p<0>"        LOC = AW5;
NET "mgt_rx_p<1>"        LOC = AY7;
NET "mgt_rx_p<2>"        LOC = BA5;
NET "mgt_rx_p<3>"        LOC = BB7;
#
NET "mgt_tx_n<0>"        LOC = AW2;
NET "mgt_tx_n<1>"        LOC = AY4;
NET "mgt_tx_n<2>"        LOC = BA2;
NET "mgt_tx_n<3>"        LOC = BB4;

NET "mgt_tx_p<0>"        LOC = AW1;
NET "mgt_tx_p<1>"        LOC = AY3;
NET "mgt_tx_p<2>"        LOC = BA1;
NET "mgt_tx_p<3>"        LOC = BB3;

NET "mgt_rx_n<24>"       LOC = J6;
NET "mgt_rx_n<25>"       LOC = L6;
NET "mgt_rx_n<26>"       LOC = N6;
NET "mgt_rx_n<27>"       LOC = P8;
NET "mgt_rx_n<28>"       LOC = E6;
NET "mgt_rx_n<29>"       LOC = F8;
NET "mgt_rx_n<30>"       LOC = G6;
NET "mgt_rx_n<31>"       LOC = H8;
#
NET "mgt_rx_p<24>"       LOC = J5;
NET "mgt_rx_p<25>"       LOC = L5;
NET "mgt_rx_p<26>"       LOC = N5;
NET "mgt_rx_p<27>"       LOC = P7;
NET "mgt_rx_p<28>"       LOC = E5;
NET "mgt_rx_p<29>"       LOC = F7;
NET "mgt_rx_p<30>"       LOC = G5;
NET "mgt_rx_p<31>"       LOC = H7;
#
NET "mgt_tx_n<24>"       LOC = K4;
NET "mgt_tx_n<25>"       LOC = L2;
NET "mgt_tx_n<26>"       LOC = M4;
NET "mgt_tx_n<27>"       LOC = N2;
NET "mgt_tx_n<28>"       LOC = F4;
NET "mgt_tx_n<29>"       LOC = G2;
NET "mgt_tx_n<30>"       LOC = H4;
NET "mgt_tx_n<31>"       LOC = J2;

NET "mgt_tx_p<24>"       LOC = K3;
NET "mgt_tx_p<25>"       LOC = L1;
NET "mgt_tx_p<26>"       LOC = M3;
NET "mgt_tx_p<27>"       LOC = N1;
NET "mgt_tx_p<28>"       LOC = F3;
NET "mgt_tx_p<29>"       LOC = G1;
NET "mgt_tx_p<30>"       LOC = H3;
NET "mgt_tx_p<31>"       LOC = J1;

## MGT mezzanine card clock inputs TODO
#
#NET "ext_refclk_n<0>"    LOC = G9;
#NET "ext_refclk_n<1>"    LOC = AB7;
#NET "ext_refclk_n<2>"    LOC = AK7;
#NET "ext_refclk_n<3>"    LOC = BA9;
#NET "ext_refclk_n<4>"    LOC = E9;
#NET "ext_refclk_n<5>"    LOC = Y7;
#NET "ext_refclk_n<6>"    LOC = AH7;
#NET "ext_refclk_n<7>"    LOC = AW9;
#
#NET "ext_refclk_p<0>"    LOC = G10;
#NET "ext_refclk_p<1>"    LOC = AB8;
#NET "ext_refclk_p<2>"    LOC = AK8;
#NET "ext_refclk_p<3>"    LOC = BA10;
#NET "ext_refclk_p<4>"    LOC = E10;
#NET "ext_refclk_p<5>"    LOC = Y8;
#NET "ext_refclk_p<6>"    LOC = AH8;
#NET "ext_refclk_p<7>"    LOC = AW10;


##############################################
# VDIF constraints                           #
##############################################

NET "vdif_roachtp<0>"        LOC = H18    | IOSTANDARD = "LVCMOS15";
NET "vdif_roachtp<1>"        LOC = F16    | IOSTANDARD = "LVCMOS15";

NET "vdif_routb<0>"          LOC = W37    | IOSTANDARD = "LVCMOS25";
NET "vdif_routb<1>"          LOC = Y37    | IOSTANDARD = "LVCMOS25";
NET "vdif_routb<2>"          LOC = AA32   | IOSTANDARD = "LVCMOS25";
NET "vdif_routb<3>"          LOC = Y32    | IOSTANDARD = "LVCMOS25";

NET "vdif_routb<3>"          TIG;


#
NET "vdif_uCLK0"     CLOCK_DEDICATED_ROUTE = FALSE;  # need this to avoid error since M27 is not a clock pin
NET "vdif_uCLK0"     LOC = "M27"  | IOSTANDARD = "LVCMOS15";  # global 15, GPIO15
NET "vdif_RnW"       LOC = "N20"  | IOSTANDARD = "LVCMOS15";  # global 11, GPIO11
NET "vdif_CTRL_DATA" LOC = "M28"  | IOSTANDARD = "LVCMOS15";  # global 8, GPIO8
NET "vdif_CD<0>"     LOC = "G31"  | IOSTANDARD = "LVCMOS15";  # global 0, GPIO0
NET "vdif_CD<1>"     LOC = "H31"  | IOSTANDARD = "LVCMOS15";  # global 1, GPIO1
NET "vdif_CD<2>"     LOC = "AF32" | IOSTANDARD = "LVCMOS15";  # global 2, GPIO2
NET "vdif_CD<3>"     LOC = "AG33" | IOSTANDARD = "LVCMOS15";  # global 3, GPIO3
NET "vdif_CD<4>"     LOC = "L30"  | IOSTANDARD = "LVCMOS15";  # global 4, GPIO4
NET "vdif_CD<5>"     LOC = "H30"  | IOSTANDARD = "LVCMOS15";  # global 5, GPIO5
NET "vdif_CD<6>"     LOC = "M29"  | IOSTANDARD = "LVCMOS15";  # global 6, GPIO6
NET "vdif_CD<7>"     LOC = "J30"  | IOSTANDARD = "LVCMOS15";  # global 7, GPIO7

NET "vdif_DAC_CLK_p"    LOC = "P27"; #DAC clock, common to both DACs
NET "vdif_DAC_CLK_n"    LOC = "R27";
#NET "vdif_DAC_IN_A0<0>"    LOC = "L31"   | IOSTANDARD = "LVCMOS25"; #data bits for DACs
NET "vdif_DAC_IN_A<0>"  LOC = "L31"  | IOSTANDARD = "LVCMOS25"; #data bits for DACs
NET "vdif_DAC_IN_A<1>"  LOC = "L32"  | IOSTANDARD = "LVCMOS25";
NET "vdif_DAC_IN_A<2>"  LOC = "R28"  | IOSTANDARD = "LVCMOS25";
NET "vdif_DAC_IN_A<3>"  LOC = "R29"  | IOSTANDARD = "LVCMOS25";
NET "vdif_DAC_IN_B<0>"  LOC = "AA36" | IOSTANDARD = "LVCMOS25"; #data bits for DACs
NET "vdif_DAC_IN_B<1>"  LOC = "AA37" | IOSTANDARD = "LVCMOS25";
NET "vdif_DAC_IN_B<2>"  LOC = "AA35" | IOSTANDARD = "LVCMOS25";
NET "vdif_DAC_IN_B<3>"  LOC = "Y35"  | IOSTANDARD = "LVCMOS25";

NET "vdif_PPS_PIC_p"    LOC = "AA34"; #monitor for FPGA-generated 1-PPS
NET "vdif_PPS_PIC_n"    LOC = "Y34";

NET "vdif_TE_p"         LOC = "K37"; #TE signal from system, called TIME_IN on PIC
NET "vdif_TE_n"         LOC = "L37";

NET "vdif_AUXTIME_p"    LOC = "Y38"; #TE signal from system, called TIME_IN on PIC
NET "vdif_AUXTIME_n"    LOC = "AA39";

NET "vdif_TIME0"        LOC = "P28"  | IOSTANDARD = "LVCMOS25";
NET "vdif_TIME1"        LOC = "N31"  | IOSTANDARD = "LVCMOS25";

NET "vdif_DONE"         LOC = "N28"  | IOSTANDARD = "LVCMOS25";
NET "vdif_DLL"          LOC = "M31"  | IOSTANDARD = "LVCMOS25";

NET "vdif_PPS_Maser_p"  LOC = "J42"; #Maser 1-PPS input
NET "vdif_PPS_Maser_n"  LOC = "K42";

NET "vdif_PPS_GPS_p"    LOC = "W30"; # GPS 1-PPS input
NET "vdif_PPS_GPS_n"    LOC = "V30";


NET "vdif_sum_data_p<0>" LOC = "B37";  #LSB from plane 0
NET "vdif_sum_data_n<0>" LOC = "A37";
NET "vdif_sum_data_p<1>" LOC = "B41";  #MSB from plane 0
NET "vdif_sum_data_n<1>" LOC = "B42"; 
NET "vdif_sum_data_p<2>" LOC = "D38";  #LSB from plane 1
NET "vdif_sum_data_n<2>" LOC = "C38";
NET "vdif_sum_data_p<3>" LOC = "A40";  #MSB from plane 1
NET "vdif_sum_data_n<3>" LOC = "A41"; 
NET "vdif_sum_data_p<4>" LOC = "E39";  #LSB from plane 2
NET "vdif_sum_data_n<4>" LOC = "E38";
NET "vdif_sum_data_p<5>" LOC = "B38";  #MSB from plane 2
NET "vdif_sum_data_n<5>" LOC = "A39"; 
NET "vdif_sum_data_p<6>" LOC = "F35";  #LSB from plane 3
NET "vdif_sum_data_n<6>" LOC = "F36";
NET "vdif_sum_data_p<7>" LOC = "D42";  #MSB from plane 3
NET "vdif_sum_data_n<7>" LOC = "D41"; 
NET "vdif_sum_data_p<8>" LOC = "C40";  #LSB from plane 4
NET "vdif_sum_data_n<8>" LOC = "C41";
NET "vdif_sum_data_p<9>" LOC = "B39";  #MSB from plane 4
NET "vdif_sum_data_n<9>" LOC = "C39"; 
NET "vdif_sum_data_p<10>" LOC = "F40";  #LSB from plane 5
NET "vdif_sum_data_n<10>" LOC = "F41";
NET "vdif_sum_data_p<11>" LOC = "F37";  #MSB from plane 5
NET "vdif_sum_data_n<11>" LOC = "E37";
NET "vdif_sum_data_p<12>" LOC = "E42";  #LSB from plane 6
NET "vdif_sum_data_n<12>" LOC = "F42"; 
NET "vdif_sum_data_p<13>" LOC = "H36";  #MSB from plane 6
NET "vdif_sum_data_n<13>" LOC = "G36"; 
NET "vdif_sum_data_p<14>" LOC = "D40";  #LSB from plane 7
NET "vdif_sum_data_n<14>" LOC = "E40"; 
NET "vdif_sum_data_p<15>" LOC = "F39";  #MSB from plane 7
NET "vdif_sum_data_n<15>" LOC = "G39"; 
NET "vdif_sum_data_p<16>" LOC = "G37";  #LSB from plane 8
NET "vdif_sum_data_n<16>" LOC = "G38"; 
NET "vdif_sum_data_p<17>" LOC = "G41";  #MSB from plane 8
NET "vdif_sum_data_n<17>" LOC = "G42"; 
NET "vdif_sum_data_p<18>" LOC = "H39";  #LSB from plane 9
NET "vdif_sum_data_n<18>" LOC = "H38"; 
NET "vdif_sum_data_p<19>" LOC = "G34";  #MSB from plane 9
NET "vdif_sum_data_n<19>" LOC = "H34"; 
NET "vdif_sum_data_p<20>" LOC = "H40";  #LSB from plane 10
NET "vdif_sum_data_n<20>" LOC = "H41"; 
NET "vdif_sum_data_p<21>" LOC = "J35";  #MSB from plane 10
NET "vdif_sum_data_n<21>" LOC = "H35";
NET "vdif_sum_data_p<22>" LOC = "K38";  #LSB from plane 11
NET "vdif_sum_data_n<22>" LOC = "J38"; 
NET "vdif_sum_data_p<23>" LOC = "L34";  #MSB from plane 11
NET "vdif_sum_data_n<23>" LOC = "M34";
NET "vdif_sum_data_p<24>" LOC = "K39";  #LSB from plane 12
NET "vdif_sum_data_n<24>" LOC = "K40"; 
NET "vdif_sum_data_p<25>" LOC = "K35";  #MSB from plane 12
NET "vdif_sum_data_n<25>" LOC = "K34";
NET "vdif_sum_data_p<26>" LOC = "J40";  #LSB from plane 13
NET "vdif_sum_data_n<26>" LOC = "J41"; 
NET "vdif_sum_data_p<27>" LOC = "N29";  #MSB from plane 13
NET "vdif_sum_data_n<27>" LOC = "N30";
NET "vdif_sum_data_p<28>" LOC = "K33";  #LSB from plane 14
NET "vdif_sum_data_n<28>" LOC = "K32"; 
NET "vdif_sum_data_p<29>" LOC = "L35";  #MSB from plane 14
NET "vdif_sum_data_n<29>" LOC = "L36";
NET "vdif_sum_data_p<30>" LOC = "J37";  #LSB from plane 15
NET "vdif_sum_data_n<30>" LOC = "J36"; 
NET "vdif_sum_data_p<31>" LOC = "M33";  #MSB from plane 15
NET "vdif_sum_data_n<31>" LOC = "M32";
NET "vdif_sum_data_p<32>" LOC = "N40";  #LSB from plane 16
NET "vdif_sum_data_n<32>" LOC = "N41"; 
NET "vdif_sum_data_p<33>" LOC = "L41";  #MSB from plane 16
NET "vdif_sum_data_n<33>" LOC = "L42";
NET "vdif_sum_data_p<34>" LOC = "N38";  #LSB from plane 17
NET "vdif_sum_data_n<34>" LOC = "N39"; 
NET "vdif_sum_data_p<35>" LOC = "M38";  #MSB from plane 17
NET "vdif_sum_data_n<35>" LOC = "M39";
NET "vdif_sum_data_p<36>" LOC = "N36";  #LSB from plane 18
NET "vdif_sum_data_n<36>" LOC = "P37"; 
NET "vdif_sum_data_p<37>" LOC = "M41";  #MSB from plane 18
NET "vdif_sum_data_n<37>" LOC = "M42";
NET "vdif_sum_data_p<38>" LOC = "M36";  #LSB from plane 19
NET "vdif_sum_data_n<38>" LOC = "M37"; 
NET "vdif_sum_data_p<39>" LOC = "P40";  #MSB from plane 19
NET "vdif_sum_data_n<39>" LOC = "P41";
NET "vdif_sum_data_p<40>" LOC = "R39";  #LSB from plane 20
NET "vdif_sum_data_n<40>" LOC = "P38"; 
NET "vdif_sum_data_p<41>" LOC = "P36";  #MSB from plane 20
NET "vdif_sum_data_n<41>" LOC = "P35";
NET "vdif_sum_data_p<42>" LOC = "R40";  #LSB from plane 21
NET "vdif_sum_data_n<42>" LOC = "T40"; 
NET "vdif_sum_data_p<43>" LOC = "P42";  #MSB from plane 21
NET "vdif_sum_data_n<43>" LOC = "R42";
NET "vdif_sum_data_p<44>" LOC = "T41";  #LSB from plane 22
NET "vdif_sum_data_n<44>" LOC = "T42";
NET "vdif_sum_data_p<45>" LOC = "R35";  #MSB from plane 22
NET "vdif_sum_data_n<45>" LOC = "R34";
NET "vdif_sum_data_p<46>" LOC = "T34";  #LSB from plane 23
NET "vdif_sum_data_n<46>" LOC = "T35";
NET "vdif_sum_data_p<47>" LOC = "T39";  #MSB from plane 23
NET "vdif_sum_data_n<47>" LOC = "R38";
NET "vdif_sum_data_p<48>" LOC = "U36";  #LSB from plane 24
NET "vdif_sum_data_n<48>" LOC = "T36";
NET "vdif_sum_data_p<49>" LOC = "R37";  #MSB from plane 24
NET "vdif_sum_data_n<49>" LOC = "T37";
NET "vdif_sum_data_p<50>" LOC = "V34";  #LSB from plane 25
NET "vdif_sum_data_n<50>" LOC = "U34";
NET "vdif_sum_data_p<51>" LOC = "U37";  #MSB from plane 25
NET "vdif_sum_data_n<51>" LOC = "U38";
NET "vdif_sum_data_p<52>" LOC = "U39";  #LSB from plane 26
NET "vdif_sum_data_n<52>" LOC = "V39";
NET "vdif_sum_data_p<53>" LOC = "U42";  #MSB from plane 26
NET "vdif_sum_data_n<53>" LOC = "U41";
NET "vdif_sum_data_p<54>" LOC = "V38";  #LSB from plane 27
NET "vdif_sum_data_n<54>" LOC = "W38";
NET "vdif_sum_data_p<55>" LOC = "V40";  #MSB from plane 27
NET "vdif_sum_data_n<55>" LOC = "W40";
NET "vdif_sum_data_p<56>" LOC = "V41";  #LSB from plane 28
NET "vdif_sum_data_n<56>" LOC = "W41";
NET "vdif_sum_data_p<57>" LOC = "U32";  #MSB from plane 28
NET "vdif_sum_data_n<57>" LOC = "U33";
NET "vdif_sum_data_p<58>" LOC = "Y40";  #LSB from plane 29
NET "vdif_sum_data_n<58>" LOC = "Y39";
NET "vdif_sum_data_p<59>" LOC = "W36";  #MSB from plane 29
NET "vdif_sum_data_n<59>" LOC = "V36";
NET "vdif_sum_data_p<60>" LOC = "V33";  #LSB from plane 30
NET "vdif_sum_data_n<60>" LOC = "W33";
NET "vdif_sum_data_p<61>" LOC = "W35";  #MSB from plane 30
NET "vdif_sum_data_n<61>" LOC = "V35";
NET "vdif_sum_data_p<62>" LOC = "W42";  #LSB from plane 31
NET "vdif_sum_data_n<62>" LOC = "Y42";
NET "vdif_sum_data_p<63>" LOC = "W32";  #MSB from plane 31
NET "vdif_sum_data_n<63>" LOC = "Y33";




INST "vdif_inst/vdif_inst/idelayctrlInst0" LOC = "IDELAYCTRL_X0Y6"; # Bank # 16
INST "vdif_inst/vdif_inst/idelayctrlInst1" LOC = "IDELAYCTRL_X0Y7"; # Bank # 17









##############################################
# IP UCF constraints                         #
##############################################

# alma_pic_r2/XSG core config

# alma_pic_r2/frm_PPC_0

# alma_pic_r2/frm_ppc_1

# alma_pic_r2/ten_Gbe_v2

# alma_pic_r2/to_PPC_0


